<div class="bg-light w-100 h-100">
  <app-country-information class="m-0 p-0"></app-country-information>
  <div class="row m-0 h-50">
    <div class="col-md-6 p-0">
      <div class="card h-100 p-3 border-light">
        <div class="card-header-warning">
          {{ 'CERCADOR.TITLE'}}
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="card h-100 p-3 border-light">
        <div class="card-header-warning">
          {{ 'CERCADOR.TITLE'}}
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
