<div class="bg-light w-100 h-100">
  <div class="row m-0 h-100">    
    <div class="col-md-6 h-100 p-0">
      <app-covid19-information></app-covid19-information>
    </div>
    <div class="col-md-6 p-0 d-flex flex-column">
      <app-country-information class="p-0 m-0" style="min-height: 36%"></app-country-information>
      <app-chuck-norris-info class="p-0 m-0" style="min-height: 30%"></app-chuck-norris-info>
      <app-numbers-curious-fact class="p-0 m-0" style="min-height: 34%"></app-numbers-curious-fact>
    </div>

  </div>
</div>
