<div class="bg-light w-100 h-100">
  <div class="row m-0 h-50">
    <div class="col-lg-3 p-0">
      <div class="card h-100 p-3 border-light">
        <div class="card-header-warning">
          <h5 class="text-primary">Country information</h5>
        </div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="fw-bold">hola prueba:</td>
                <td>hola prueba</td>
              </tr>
              <tr>
                <td class="fw-bold">hola prueba</td>
                <td>hola prueba</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-9 p-0">
      <div class="card h-100 p-3 border-light">
        <div class="card-header-warning">
          {{ 'CERCADOR.TITLE'}}
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 h-50">
    <div class="col-md-6 p-0">
      <div class="card h-100 p-3 border-light">
        <div class="card-header-warning">
          {{ 'CERCADOR.TITLE'}}
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="card h-100 p-3 border-light">
        <div class="card-header-warning">
          {{ 'CERCADOR.TITLE'}}
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
