<div class="card h-100 p-3 border-light overflow-auto">
    <div class="card-header-warning">
        <h5 class="text-primary">Country details</h5>
    </div>
    <div class="card-body">
        <table *ngIf="selectedCountry; else temp_loadingCountry" class="table table-borderless">
            <tbody>
                <tr>
                    <td class="fw-bold">Capital:</td>
                    <td>{{selectedCountry.capital}}</td>
                </tr>
                <tr>
                    <td class="fw-bold">Moneda:</td>
                    <td>{{selectedCountry.currency}}</td>
                </tr>
                <tr>
                    <td class="fw-bold">Lenguaje:</td>
                    <td>{{selectedCountry.languages}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #temp_loadingCountry>
            <div class="d-flex align-items-center justify-content-center h-100 w-100">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </ng-template>
    </div>
</div>